/*----------- Hjemmeeksamen DATA 1200 høst 2024 ----------*/

/*-- Innhold start

Generell
- Root
- Diverse
- Hamburgermeny

Activity page
- Flex-box-Activity 
- Bilder Activity

Accessibility-page og Github-page

Index page
- Flex-box-index 
- Bilder index 
- Tabell med diverse informasjon om studiet
- Hovedtabell index
- Tabell studiets oppbygging index
- Index Studiested, Spørsmål om utdanningen?, faglig leder, 
  tabell med info om programmer, og tabell for videre studiemuligheter

Innhold slutt --*/




/**---------------- Generell start ----------------**/
/*
Inneholder
- Root
- Diverse
- Hamburgermeny
*/


/*-----Root start-----*/
/* Denne delen brukes til farger som brukes igjen flere ganger*/

:root {
    --siteblue: rgb(139, 185, 227);
    --sitegrey: rgb(238, 239, 240);
    --sitegreen: rgb(91, 220, 164);
    --sitered: rgb(235, 120, 147);
    --oslometyellow: rgb(255,220,0);
    --oslometgrey: rgb(221, 222, 224);
    --oslometblack: #222;
}

/*-----Root slutt-----*/


/*----- Diverse start-----*/
/* Kode som generelt fungerer som utgangspunkt eller endringer av utgangspunkt*/
* {
    box-sizing: border-box; /*Setter denne til standard for alle sidene, sørger for at innholdet holder seg innen for kanter*/
}

header {
    background-color: var(--siteblue);
    line-height: 0.5rem;
    font-size: 1em;
    padding: 0.5rem;

}

.index-header{
    background-color: var(--oslometyellow);
}

.accessibility-header{
    background-color: var(--sitegreen);
}

.github-header{
    background-color: var(--sitered);
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
}

.menu a{
    text-decoration: none; 
    color: var(--oslometblack);
    white-space: nowrap; /*forhindrer at teksten brytes til ny linje*/
    font-weight: bold;
}


/*----- Diverse slutt-----*/



/*----- Hamburgermeny start -----*/
/* Koden som danner menyen i header på alle sider, denne er inspirert og modifert fra pensum*/


/*Gir underlinje ved hover på menyen ellers står text-decoration: none som std*/
.lenker-meny:hover{
text-decoration: underline;
text-decoration-thickness: 2px;
}


/*Skjult som standard, blir synlig ved små skjermer/mobil*/
#burger-toggle {display: none;}
@media (min-width:901px) {
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
    }
    .menu Li {padding-right: 4rem;}
}

/*Til hamburgermeny-ikonet som blir synlig ved små skjermer/mobil*/
@media (max-width: 900px) {
    /*Justify-content: flex-end gjør at hele nav-baren med menyen ligger på høyre siden sånn som på OsloMet sin side*/
    nav {
        display: flex;
        height: 40px;
        justify-content: flex-end; 
    }

    /*Selve menyen ligger til venstre for burger-iconet ved å sette align-items til flex-start med top og right verdier til 40px. 
    Column får inholdet vertikalt. Matchende background color gjør at vi får en "bokseffekt". Z-index til 2 sørger for at menyen alltid ligger øverst.*/
    .menu {
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
        list-style-type: none;
        position: absolute; 
        top: 40px; 
        right: 40px; 
        padding-left: 0px;
        background-color: var(--siteblue); 
        width: auto; 
        z-index: 2;
    }

    /*Gjør bakgrunnsfargen som fyller ut tomrommene i "boksen" til menyen for index-page til OsloMet-gul istedenfor standarden blå*/
    #menu-index{
        background-color: var(--oslometyellow); 
    }
    /*Gjør bakgrunnsfargen som fyller ut tomrommene i "boksen" til menyen for accessibility-page til sitegreen istedenfor standarden blå*/
    #menu-accessibility{
        background-color: var(--sitegreen); 
    }

    /*Gjør bakgrunnsfargen som fyller ut tomrommene i "boksen" til menyen for github-page til sitered istedenfor standarden blå*/
    #menu-github{
        background-color: var(--sitered); 
    }

    /*herherher*/

    .menu-icon {
        display: block;
        background-image: url(../bilder/menu.svg.png);
        background-size: cover;
        height: 40px;
        width: 40px;
    }

    .menu Li {
        height: 0;
        overflow:hidden;
    }



#burger-toggle:checked ~ .menu Li {
    height: 2rem;
    width: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background-color: var(--siteblue);
}

/*Gjør menyen index-page til OsloMet gul istedenfor standardfargen satt til blå*/
#burger-toggle:checked ~ #menu-index Li{
    background-color: var(--oslometyellow);
}

/*Gjør menyen til accessibility-page til sitegreen istedenfor standardfargen satt til blå*/
#burger-toggle:checked ~ #menu-accessibility Li{
    background-color: var(--sitegreen);
}

/*Gjør menyen til github-page til sitered istedenfor standardfargen satt til blå*/
#burger-toggle:checked ~ #menu-github Li{
    background-color: var(--sitered);
}


}

/*-----Hamburgermenu slutt-----*/

/**---------------- Generell slutt ----------------**/




/**---------------- Activity page start ----------------**/
/* Justerer innholdet i activity page*/
/*
Inneholder 
-Flex-box-Activity
-Bilder Activity
*/


/*-----flex-box-Activity start-----*/
/* Innholdet lager rammeeverket for siden med utgangspunkt i flexbokser*/

.main-activity {
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    min-height: 100vh; 
    padding-top: 10px;
}   

.flex-container-activity {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 1200px; 
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    flex: 1;
}
/*Bilde - kilde:https://www.shutterstock.com/nb/image-photo/young-expert-medical-technologist-working-by-1826811668 fotograf:shutterstock*/
.flex-sub-container1-hero-activity{
    position: relative;
    flex: 2;
    background: url(../bilder/bioingeniør_pipettering.avif) no-repeat center center/cover;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    min-height: 450px; /*Gjør at boksen ikke kolapser*/
    
}

.overskrift-activity {
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /*Gir en gjennomsiktig sort/grå bakgrunnsfarge*/
    padding: 10px;
    margin: 0;
    font-size: 2.2rem;
}

.flex-sub-container2-activity {
    display: flex;
    flex: 2;
}

.flex-venstre-column-activity {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.flex-box-activity {
    flex: 1;
    margin: 10px;
    align-content: center;
    justify-content: center;
    
}

.flex-box-activity h2{
    margin-left: 0;
}

.flex-høyre-column-activity {
    flex: 1; /*Sørger for at innholdet tar riktig plass og ikke blir for stort*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*slettes?*/
.flex-høyre-column-activity.flex-box-activity {
    flex: none; 
}

.footer-activity {
    background-color: var(--siteblue);  
    padding: 1.5em;
}


/* slettes ? gjør ikke noe når den under står
@media (max-width: 839px) {
    .flex-container-activity {
        padding: 5%;
    }
}
*/

/*For små skjermer/molbil - gjør at innholdet får mer plass og det blir mindre kanter, samt at hero tar mindre plass*/
@media (max-width: 839px) {
    .flex-container-activity{
        padding: 2%;
    }

    .flex-sub-container1-hero-activity{
        min-height: 200px;
    }

    .flex-sub-container2-activity {
        flex-direction: column;
    }

    .flex-venstre-column-activity, .flex-høyre-column-activity {
        width: 100%;
    }
}

/*Mindre padding ved større skjermer*/
@media (min-width: 840px) {
    .flex-container-activity {
        padding: 1%;
    }
}

@media (min-width: 900px) {
    .flex-container-activity{
        flex:0;    
    }
    .flex-sub-container1-hero-activity{
        flex: 0;
    }
    .main-activity{
        justify-content: flex-start;
    }
}


/*-----flex-box-Activity slutt-----*/



/*-----Bilder Activity start-----*/
/* Hovedsakelig kode for å manipulere biler eller rammene bildene er i med flex*/

.asidebilderamme-activity{
    background-color: var(--sitegrey);
    border: 10px solid var(--sitegrey);
    border-bottom: 0;
    background-size: cover; 
    overflow: hidden; /*Gjør at bilde ikke går over rammen ved zoom-hover*/
 }

 .asidebilderamme-activity img {
    display: block; /*Gjør at bilde holder seg innenfor en ramme og fjerner eventuelle sorte kanter*/
    width: 100%; 
    transition: transform 0.3s ease; /*Gir en smoothere overgang på hover-zoom*/
}


.asidebilderamme-activity:hover img {
    transform: scale(1.2); /*Zoomer inn bilde 20% ved hover*/
}


.columnaside-activity{
    background-color: var(--sitegrey);
    border: 10px solid var(--sitegrey);
    border-top: 0;
    display: flex;
 
}

 .bilde-activity {
    float: left;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-size: cover;
}

/*slettes?*/
.hovedbilde-activity {
    clear: both;
    display: table;   
}

/*slettes?*/
@media (max-width: 839px) {
    .bilde-activity  {
      width: 100%;
    }
}


/*-----Bilder Activity slutt-----*/

/**---------------- Activity page slutt ----------------**/




/*---Accessibility-page og Github-page start---*/
/*Koden er basert på den fra activity-page men noen få justering ved hjelp av dobbel-klasser*/

.flex-sub-container1-hero-activity.accessibility, .flex-sub-container1-hero-activity.github{
    background:none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 0px;
}

.overskrift-activity.accessibility, .overskrift-activity.github {
    color: var(--oslometblack);
    background-color: white;
    padding: 0;
    font-size: 2.2rem;
}

.flex-box-activity.accessibility img, .flex-box-activity.github img{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flex-box-activity.github li{
    margin-left: 20px;
}

.flex-box-activity.accessibility h2, .flex-box-activity.github h2, .flex-box-activity.github h3,
.flex-box-activity.accessibility p, .flex-box-activity.github p{
    color: var(--oslometblack);
}

.footer-accessibility {
    background-color: var(--sitegreen);  
    padding: 1.5em;
}

.footer-github {
    background-color: var(--sitered);  
    padding: 1.5em;
}


/*---Accessibility-page og Github-page slutt---*/



/**------------------- Index page start -------------------**/
/*Justerer innholdet i index-page*/
/* 
Inneholder 
- Flex-box-index 
- Bilder index
- Tabell index med diverse informasjon om studiet
- Hovedtabell index
- Tabell studiets oppbygging index
- Index Studiested, Spørsmål om utdanningen?, faglig leder, 
  tabell med info om programmer, og tabell for videre studiemuligheter 
- Footer index
*/




/*-----flex-box-index start-----*/

/* Hovedsakelig for rammeverket til index-page med flex-boxer*/
/* 
Inneholder 
- Hero index
- Hovedoverskrift og tekst oppe index 
- Hovedinnhold, header og studieoversikt
- Studenthistorier index
*/



.main-index h2 {
    margin-left: 0;
    font-size: 1.75rem;
}

.main-index {
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    min-height: 100vh; 
    padding-top: 10px;
    color: var(--oslometblack); 
}   

/* ---hero index start--- */
/*max-with 1200px brukes som standard på denne siden for å ha innholdet sentrert på midten*/
.flex-container-index {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 1200px; 
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    flex: 1;
}

/* Fant inspirasjon til koden her:
 https://stackoverflow.com/questions/70851848/remove-black-bars-on-both-left-right-sides-of-an-iframe-video */
/* Koden er mer eller mindre lik som vist av kilden og blir brukt til å fjerne de sorte rammene fra videoen som oppstår ved bruk av iframe til video*/
.flex-sub-container1-hero-index{
    position: relative;
    padding-bottom: 56.25%; /*Denne fjerner den sorte rammen  og det er hovedsakelig denne vi fikk inspirasjon til fra stackoverflow*/
    overflow: hidden;
    max-width: 100%;
    height: auto;  
}

/* Samme som over, kodden blir brukt til å fjerne de sorte rammene fra videoen som oppstår ved bruk av iframe til video*/ 
.flex-sub-container1-hero-index iframe{
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}

/* ---hero index slutt--- */

/* ---hovedoverskrift og tekst oppe index start--- */

.flex-index-hovedoverskrift{
    margin-top: 20px;
    margin-bottom: 20px;    
}

/*Bevarer mindre h1 på litenskjerm/molbil og gir større ved større skjerm*/
@media (min-width:701px) {
    .flex-index-hovedoverskrift{
        font-size: 1.5rem;  
    }
}

.flex-index-teksts-oppe{
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;  
    font-weight: 400;
    border-top: 1px solid var(--oslometgrey);
    margin-top: 30px;
    
    
}

/*Justerer innholdet i boksen med tekst slik at den holder seg i midten, samt media under som endrer den ved liten skjerm*/
.flex-index-teksts-oppe p {   
margin-top: 5%;
margin-bottom: 5%;
margin-left: 20%;
margin-right: 20%;  
}

/*Får teksten til å ta opp mer plass i bredden ved mobil/små skjermer*/
@media (max-width: 839px) {
    .flex-index-teksts-oppe p {
        margin-left: 0%;
        margin-right: 0%; 
    }
    .flex-index-teksts-oppe {
        margin-top: 5px;
    }
}

/* ---hovedoverskrift og tekst oppe index slutt--- */

/* ---hovedinnhold, header og studieoversikt index start--- */

.flex-sub-container2-index {
    display: flex;
    flex: 2;
    flex-direction: column;
}

/*Sørger for at hovedinnholdet på siden ligger i midten hele tiden*/
.flex-column-index {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-left: 10vw;
    margin-right: 10vw; 
}

.flex-box-index {
    flex: 1;
    margin: 10px;
    align-content: center;
    justify-content: center; 
}

/*Sørger for at logen og menyen legger seg på en rad istedenfor en kolonne*/
.header-over{
    display: flex;
    flex-direction: row;
    max-width: 1200px; 
    width: 100%;
    padding: 0 20px 30px 20px;
    margin: 0 auto; 
}

.header-under {
    display: flex; 
    justify-content: center; 
    padding: 10px;
}   

.pil-studieoversikt-lenke{
    display: inline-block; /*sørger for at bilde ligger på linje med teksten ved bruk av span*/
    background-image: url(../bilder/pil_høyre.webp);
    transform: scaleX(-1); /*Gjør at bilde speiler mot venstre, istedenfor til høyre som orginalen*/
    background-size: cover;
    height: 12px;
    width: 12px;
    flex-shrink: 0; /*Denne hindrer pilen i å krympe*/
    background-color: var(--oslometyellow);
    margin-right: 3px;
}

.studieoversikt-lenke {
    display: flex;
    max-width: 1200px; 
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;  
    align-items: center;
}

.studieoversikt-lenke-wrapper{
    color: var(--oslometblack);
    text-decoration-thickness: 2px;
}


/* Holder teksten på line med hovedinnhold ved endring av skjermstørrelse*/
@media (max-width: 839px) {
    .header-under{
        padding-left: 2%;
        padding-bottom: 0;
    }
    .studieoversikt-lenke{
        padding-left: 0;
    }
    .index-header{
        padding-left: 0;
    }
    .header-over{
        padding-bottom: 10px;
    }
}

@media (min-width: 840px) {
    .header-under {
        padding-left: 1%;
    }
    .studieoversikt-lenke{
        padding-left: 0;
    }
    .index-header{
        padding-left: 0;
    }
}

@media (min-width: 1200px) {
    .header-under {
        padding-left: 1%;
    }
    .studieoversikt-lenke{
        padding: 0 20px;
        margin: 0 auto; 
    }  
}

@media (max-width: 839px) {
    .flex-container-index{
        padding: 2%;
    }
    .flex-sub-container2-index {
        flex-direction: column;
    }
    .flex-column-index {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}


@media (min-width: 840px) {
    .flex-container-index {
        padding: 1%;
    }
}

@media (min-width: 900px) {
    .flex-container-index{
        flex:0;    
    }
    .flex-sub-container1-hero-index{
         flex: 0;
    }
    .main-index{
        justify-content: flex-start; /*sørger for at innholdet legger seg på toppen ved små skjermer*/
    }
}


@media (min-width: 2400px){
    .flex-column-index {
        margin-left: 5vw;
        margin-right: 5vw;
    }   
}

@media (min-width: 6000px){
    .flex-column-index {
        margin-left: 1vw;
        margin-right: 1vw;
    }
}    

/* ---hovedinnhold, header og studieoversikt index slutt--- */

/* ---Studenthistorier index start---*/

.studenthistorier{
    font-size: 1.8em; 
}

.flex-studenthistorier{
    display: flex;
    background-size:cover;
    background-color: var(--oslometyellow);
    align-items: center;
    justify-content: space-between; 
    margin: 30px;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 10%;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5rem; 
}

.flex-studenthistorier p{
padding-left: 15px;
}

.lenke-boks-studenthistorier{
    text-decoration: none;
    color: var(--oslometblack);
}

/*Tar mer plass i bredden ved mobil/liten skjerm*/
@media (max-width: 839px) {
    .flex-studenthistorier{
        margin-right: 0%;
        margin-left: 0%;
    }

}

.pil-flex-studenthistorier{
    display: flex; 
    background-image: url(../bilder/pil_høyre.webp);
    background-size: cover;
    height: 12px;
    width: 12px;
    flex-shrink: 0; /*Denne hindrer pilen i å krympe*/
    margin-right: 15px;
    transition: transform 0.2s ease; /*Sørger for at pilen flytter seg gjevnt og ikke med et "klikk"*/
}

/*Flytter pil til høyre når man hovrer over hele boksen slik som på oslomet sin side*/
.flex-studenthistorier:hover .pil-flex-studenthistorier{
    transform: translateX(5px); 
}
/*Gir boksen et mørt skjær ved hover*/
.lenke-boks-studenthistorier:hover .flex-studenthistorier {
    background-color:  rgb(224, 195, 2);
}
/* ---Studenthistorier index slutt---*/

/*-----flex-box-index slutt-----*/



/*-----Bilder index start-----*/
/* Hovedsakelig for å justere bildene på index-page*/
.oslomet-logo{
    display: flex;
    background-image: url(../bilder/logo_of_oslo_metropolitan_university.svg);
    background-size: cover;
    height: 36px;
    width: 61px;
    margin-top: 15px;
}

.oslomet-logo-wrapper {
    display: flex;
    max-width: 1200px; 
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;  
}

/*Sørger for at logoen holder seg til venstre*/
@media (max-width: 1200px) {
    .oslomet-logo {
        justify-content: flex-start;
        position: absolute;
        left: 10px;
        margin-left: 0;  
    }

    .oslomet-logo-wrapper  {
        padding: 0;
        margin: 0;  
    }
}

/* Holder  logoen på line med hovedinnhold ved endring av skjermstørrelse*/
@media (max-width: 839px) {
    .oslomet-logo-wrapper{
        padding-left: 2%;
    }
}
@media (min-width: 840px) {
    .oslomet-logo-wrapper{
        padding-left: 1%;
    }
}

.flex-container-index-bilde-nede {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--oslometyellow);
    align-items: center;
    
    
}
.flex-index-bilde-nede-innhold{
    background-size:cover;
    background-color: var(--oslometyellow);
    flex: 1;
    position: relative; 
    color: var(--oslometblack);  
    overflow: hidden; /*Sørger for at bilde ved hover ikke går utenfor boksen*/
}

.flex-index-bilde-nede-innhold img{
    display: block; /*Gjør at bilde holder seg innenfor en ramme og fjerner eventuelle sorte kanter*/
    width: 100%;
    transition: transform 0.3s ease; /*Gir zoom av bilde en mykere overgang*/
}

.flex-index-bilde-nede-innhold p,h3 {
    margin: 20px;
}

.fibni1 {
    order: 1; /*Gjør at boksen med tekst liger til venstre i row og legger seg under ved endre order ved kolonne*/
}
.fibni2{
    order: 2;  /*Gjør at boksen med bilde ligger til høyre ved row og legger seg på topp ved kolonne*/
}

.fibni2:hover img{
    transform: scale(1.2); /*Zoomer inn bilde 20% ved hover*/
}

.lenke-boks-fibnil{
    text-decoration: none;
}

@media (max-width: 839px) {
    .flex-container-index-bilde-nede {
        flex-direction: column;
    }
    .fibni1 {
        order: 2; /*Endret order ved kolonne ved liten skjerm som nevnt over*/
    }
    .fibni2{
        order: 1; /*Endret order ved kolonne ved liten skjerm som nevnt over*/
    }
}
/*-----Bilder index slutt-----*/



/*-----Tabell index med diverse informasjon om studiet start-----*/
/* Til tabellen øverst på index-page laget med flex-boxer*/

.container-indexpage-tabelløverst{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.box-indexpage-tabelløverst{
    color: var(--oslometblack);
    padding-bottom: 70px;
    padding-top: 30px;
    margin: 10px;
    text-align: left;
    height: 80px;
    width: calc(25% - 15px); /* Ordner fire bokser på en rad*/
    box-sizing: border-box;
    border-top: 1px solid var(--oslometblack);
    word-break: keep-all;
}

/* GJør at boksene i tabellen tar opp mindre plass i høyden ved mobil/liten skjerm*/
@media (max-width: 700px) {
    .box-indexpage-tabelløverst{
        padding-bottom: 0px;
        padding-top: 20px;
    }
}

.box-indexpage-tabelløverst h2 {
    margin-bottom: 5px;
    font-size: 1.1rem;
}

.box-indexpage-tabelløverst p {
    margin-top: 0;
    font-size: 1em;
}


#box1-indexpage-tabelløverst {order: 1; }
#box2-indexpage-tabelløverst {order: 2; }
#box3-indexpage-tabelløverst {order: 3; }
#box4-indexpage-tabelløverst {order: 4; }
#box5-indexpage-tabelløverst {order: 5; }
#box6-indexpage-tabelløverst {order: 6; }
#box7-indexpage-tabelløverst {order: 7; }

#box1-indexpage-tabelløverst, #box5-indexpage-tabelløverst{
    margin-left:0;
    padding-left: 0;
}

#box4-indexpage-tabelløverst{
    margin-right:0;
    padding-right: 0;
}

@media (max-width: 839px){
    .box-indexpage-tabelløverst {
        flex: 1 1 100%; /* En boks per rad */
        margin-left: 0;
        margin-right: 0;
    }
}


/*-----Tabell med diverse informasjon om studiet slutt-----*/



/*-----Hovedtabell index start-----*/
/*justerer innholdet for hele tabellen med åpne- og lukke-mekanisme*/

.tabellramme-index {
    display: flex;
    align-items:flex-start;
    padding: 20px;
    border-top: 1px solid var(--oslometgrey);
    flex-direction: column;
}

/*Lager en grå strek på nederste tabell*/
.tabellramme-index-videre-studiemuligheter{
    border-bottom: 1px solid var(--oslometgrey);
}

/*Gjør at de små tabellene i hva lærer du? får unike egenskaper i forhold til De store tabellene*/
.tabellramme-index.tabellramme-index-liten-hva-lærer-du, .tabellramme-index.tabellramme-index-liten-studiets-oppbygging{
    border-top: none;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;

}

/*Er også med på å gjøre hele boksen med tekst klikkbar*/
.knapp-og-hovedtabell-overskrift-boks{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer; /*gir pointer på hele*/
}

.knapp-box {
    padding: 20px;
    background-color: var(--oslometyellow);
    cursor: pointer;
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin-right: 10px;
    background-image: url(../bilder/plus_symbol.svg.png.svg) 
}

/*Gjør at de små tabellene i hva lærer du? får unike egenskaper i forhold til De store tabellene*/
.knapp-box.knapp-box-hva-lærer-du, .knapp-box.knapp-box-studiets-oppbygging{
    padding: 10px;
}

/*Gjør at knapp-boksene blir mindre og tar mindre plass ved små skjermer/mobiler*/
@media (max-width: 700px){
    .knapp-box{
        padding: 10px;
    }
    .tabellramme-index{
        padding: 10px;
    }
}

.hovedtabell-overskrift-box-index{
    padding-left: 20px;
    flex: 1; 
}

.hovedtabell-overskrift-box-index h2{
    font-size: 1em;
}

.hovedtabell-overskrift-box-index h3{
    font-size: 1em;
    margin-left: 0;
}

/*Får boksene til å ligge midt på boksene over og mer plass til tabellene i bredden*/
.gjemt-innhold:checked ~ .hovedinnhold-i-gjeminnhold.hig-studiets-oppbygging2{
    padding-left: 10px;
}


/*Bytter bakgrunnsbilde fra pluss til minus når man klikker/åpner boksen*/
.gjemt-innhold:checked ~ .knapp-og-hovedtabell-overskrift-boks .knapp-box {
    background-image: url(../bilder/minus_symbol.svg.png.svg);

}

/*Skjult som standard, synlig ved checked*/
.hovedinnhold-i-gjeminnhold {
    display: none;
}

.hovedinnhold-i-gjeminnhold a{
    text-decoration-color: var(--oslometyellow);
    text-decoration-thickness: 2px;
    color: var(--oslometblack); 
}

.hovedinnhold-i-gjeminnhold Li{
    padding: 10px;
}



.gjemt-innhold:checked ~ .hovedinnhold-i-gjeminnhold {
    display: block;
    padding-left: 70px;
    padding-right: 5px;
    color: var(--oslometblack);
    margin-top: 10px;  
    width: 100%; /*Får innholdet til å ta hele bredden*/
}

/*Gjør at de små tabellene i Hva lærer du tar opp mer plass i bredden ved små skjermer på lik linjene med hovedtabellene*/
@media (max-width: 700px){
    .gjemt-innhold:checked ~ .hovedinnhold-i-gjeminnhold {
        padding-left: 50px;
    }
    .gjemt-innhold:checked ~ .hovedinnhold-i-gjeminnhold-hva-lærer-du-hovedramme-2{
        padding-left:0;
    }
    .gjemt-innhold:checked ~ .hovedinnhold-i-gjeminnhold.hig-studiets-oppbygging2{
        padding-left:0;
    }
}

/*Gjør at de små tabellene i hva lærer du? får unike egenskaper i forhold til De store tabellene*/
.gjemt-innhold:checked ~ .hovedinnhold-i-gjeminnhold-hva-lærer-du {
    padding-left: 50px;
    margin-top: 0;   
}

/*Gjør at tabellene får mer plass i bredden*/
.gjemt-innhold:checked ~ .studiets-oppbygging-gjeminnhold {
    padding-left: 0; 
}

/*Skjult som standard*/
.gjemt-innhold {
    display: none;
}

/*-----Hovedtabell index slutt-----*/




/*-----Tabell studiets oppbygging index start-----*/

/* Her designes stilen til de grå boksene som angir hvilket studieår det gjelder: */
.gråboks-angir-hvilket-år-container-studieplan-indexpage {
    background-color: rgb(245, 245, 245);
    padding-left: 10px;
}
.gråboks-angir-hvilket-år-container-studieplan-indexpage h3{
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 0;
}

.tabell-studieplan-indexpage {
    border-collapse: collapse;
    width: 100%;
}

.tabell-studieplan-indexpage th{
    background-color: var(--oslometyellow);
} /* For å gjøre den øverste raden med overskriftene gul*/
.tabell-studieplan-indexpage tr:nth-child(odd){
    background-color: rgb(249, 247, 245); /* En veldig lys gråfarge som vil være på radene som er oddetall*/
}


.tabell-studieplan-indexpage a{
    color: inherit; /* Får samme farge som forelder-elementet*/
    text-decoration: none; /* Fjerner understrekingen*/
}

/* Her defineres stilen til lenkene når mus-pilen holdes over teksten: */
.tabell-studieplan-indexpage a:hover{
    text-decoration: underline; /* Legger til understreking*/
    text-decoration-color: var(--oslometyellow);
    text-decoration-thickness: 2px; /* Gjør understrekingen litt tykkere*/
}

.tabell-studieplan-indexpage th,
.tabell-studieplan-indexpage td{
    text-align: left; /* For at teksten i tabellen skal stå inntil venstre side*/
    border-right: 3px solid rgb(255,255,255); /* For å legge til en hvit border mellom kolonnene*/
}
.tabell-studieplan-indexpage th.tbl-studieplan-indexpage-center-align,
.tabell-studieplan-indexpage td.studiepoeng-studieplan-indexpage,
.tabell-studieplan-indexpage td.status-studieplan-indexpage {
    text-align: center; /* For at begge kolonnene med studiepoeng (SP) og status skal stå i midten og ikke til venstre som resten av tabellen*/
}

/*Disse setter spesifikk bredde på hver kolonne slik at alle tabellene ser like ut*/
.tabell-studieplan-indexpage th:nth-child(1), .tabell-studieplan-indexpage td:nth-child(1){
    width: 20%;
}
.tabell-studieplan-indexpage th:nth-child(2), .tabell-studieplan-indexpage td:nth-child(2){
    width: 60%;
}
.tabell-studieplan-indexpage th:nth-child(3), .tabell-studieplan-indexpage td:nth-child(3){
    width: 10%;
}
.tabell-studieplan-indexpage th:nth-child(4), .tabell-studieplan-indexpage td:nth-child(4){
    width: 10%;
}

/*-----Tabell studiets oppbygging index slutt-----*/



/*----- Index Studiested, Spørsmål om utdanningen?, faglig leder, tabell 
med info om programmer, og tabell for videre studiemuligheter start-----*/
/*mye av koden er sammlet for å ikke skrive like kode flere ganger*/

/*---Studiested start---*/
.studiested-overskrift a, .spørsmål-om-utdanningen-overskrift a{
    text-decoration-color: var(--oslometyellow);
    text-decoration-thickness: 2px;
    color: var(--oslometblack);
}

.studiested-overskrift{
    margin-bottom: 30px;
}

.pil-studiested-overskrift{
    display: inline-block; /*sørger for at bilde ligger på linje med teksten ved bruk av span*/
    background-image: url(../bilder/pil_høyre.webp);
    background-size: cover;
    height: 12px;
    width: 12px;
    flex-shrink: 0; /*Denne hindrer pilen i å krympe*/
    margin-right: 10px;
}
/*---Studiested slutt---*/

/*---faglig leder start---*/
.faglig-leder-container{
    display: flex;
    align-items: center;
    border-top: 1px solid var(--oslometgrey);
    border-bottom: 1px solid var(--oslometgrey);
    justify-content:flex-start;
    margin-bottom: 30px;
}

/*Gjør inholdet til row som utgangspunkt ved stor skjerm*/
.faglig-leder-bilde-og-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}


.faglig-leder-bilde {
    flex: 0 0 80px; /*inkludert flekst grow, shrink og basis i en linje*/
    margin: 15px;
    margin-left: 0;
    display: flex;
}

.faglig-leder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin-top: 15px;
}

.faglig-leder p {
    margin: 0;
}

/*Gjør innholdet om til row fra kolonne ved mindre skjerm eller zoomet godt inn. Men ikke før det trengs derfor lav px*/
@media (max-width:500px) {
    .faglig-leder-bilde-og-info{
        flex-direction: column;
    }
    .faglig-leder-bilde img {
        height: auto;
        width: 60px; 
        margin-top: 10px; 
    }
    .faglig-leder-container{
        justify-content: space-between; 
        align-items: center;
    }
    .faglig-leder{
        margin-top: 0; 
    }
    .faglig-leder p{
        margin-top: 0; 
        margin-bottom: 10px;
    }
}

.pil-faglig-leder{
    display: flex; 
    background-image: url(../bilder/pil_høyre.webp);
    background-size: cover;
    height: 12px;
    width: 12px;
    flex-shrink: 0; /*Denne hindrer pilen i å krympe*/
    margin-right: 15px;
    transition: transform 0.2s ease; /*Sørger for at pilen flytter seg gjevnt og ikke med et "klikk"*/
}

/*Flytter pil til høyre når man hovrer over hele boksen slik som på oslomet sin side*/
.faglig-leder-container:hover .pil-faglig-leder{
    transform: translateX(5px); 
}

.lenke-programmer, .lenke-faglig-leder{
    text-decoration: none;
    color: var(--oslometblack);
}

/*---faglig leder slutt---*/

/*Sørger for at innholdet neders av hovedinnholdet blir liggende på et smalerer området enn det øvre innholdet. % ga en bedre flytt enn vw her*/
.ulike-programmer, .flere-interesser,.faglig-leder-container,.faglig-leder-overskrift,.studiested-overskrift,.spørsmål-om-utdanningen-overskrift {
    margin-left: 15%;
    margin-right: 15%;
}

.videre-muligheter-siste-mlinje{
    margin-left: 0;
    margin-right: 0;  
    
}

.hovedinnhold-i-gjeminnhold-videre-studiemuligheter{
    width: 100%;
}

/*Skaper en tynn grå linje øverst på alle boksene for de ulike programmene*/
.ulike-programmer {
    border-top: 1px solid var(--oslometgrey);
}

/*Skaper en tynn grå linje på den nederste boksen for de ulike programmene og for boksene inni videre studiemuligheter. 
Dette gir en illusjon av at alle boksene har en linje øverst og nederst*/
.ulike-programmer-siste-mlinje, .videre-muligheter-siste-mlinje {
    border-bottom: 1px solid var(--oslometgrey);
}


/*Sørger for at det ikke rammen tar opp unødvendig med plass ved små skjermer/mobil*/
@media (max-width: 839px) {
    .ulike-programmer, .flere-interesser,.faglig-leder-container,.faglig-leder-overskrift,.studiested-overskrift,.spørsmål-om-utdanningen-overskrift{
        margin-right: 3%;
        margin-left: 3%;
    }
    .ulike-programmer.videre-muligheter-siste-mlinje{
        margin-left: 0;
        margin-right: 0;
    }
    .ulike-programmer.videre-muligheter-siste-mlinje p{
       font-size: 0.9rem;
    }
}

.hoved-ulike-programmer h3{
    margin-left: 0;
}

.ulike-programmer p, .hoved-ulike-programmer h3, .faglig-leder p{
    font-size: 1.1rem;
    cursor: pointer;
    margin-bottom: 5px;
}

.info-programmer, .info-faglig-leder {
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
}

.info-programmer{
    flex-wrap: wrap; /*Lar boksene bryte når det zoomes inn sånn at pilen forblir i bilde*/
}


.info-box, .info-fl-box {
    flex: 1;
    flex-shrink: 1;
    flex-grow: 0;
    text-align:center;
    flex-direction: row;
    border-right: solid 1px var(--oslometblack);
    font-size: 0.8em;
    white-space: nowrap; /*Sørger for at innholdet holder seg på en linje*/
    padding-right: 10px; 
    padding-left: 10px; 
}

.info-box:first-child, .info-fl-box:first-child{
    padding-left: 0px;
}

.info-box:nth-child(4) , .info-fl-box:last-child{
    border-right:none;
}


.ulike-programmer{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /*Fordeler innholdet gjevnt*/
    align-items: center;
}

.hoved-ulike-programmer{
    flex: 1; /*Elementene tar opp tilgjengelig plass, komplementerer space-between i boksen over*/
}

.pil-ulike-programmer{
    display: flex; 
    justify-content: center;
    background-image: url(../bilder/pil_høyre.webp);
    background-size: cover;
    height: 12px;
    width: 12px;
    margin-right: 15px;
    flex-shrink: 0; /*Denne hindrer pilen i å krympe*/
    transition: transform 0.2s ease; /*Sørger for at pilen flytter seg gjevnt og ikke med et "klikk"*/
}

/*Flytter pil til høyre når man hovrer over hele boksen slik som på oslomet sin side*/
.ulike-programmer:hover .pil-ulike-programmer{
    transform: translateX(5px); 
}


/*----- Index Studiested, Spørsmål om utdanningen?, faglig leder, tabell
med info om programmer, og tabell for videre studiemuligheter slutt-----*/





/*----- Footer index start -----*/


/* Her settes bakgrunnsfargen for hele footer-elementet: */
.footer-indexpage {
    background-color: var(--oslometyellow);
}

/* Denne koden sikrer at "container-a" og "container-b" ligger i en kolonne/vertikalt: */
.container-footer-indexpage {
    display: flex;
    flex-direction: column;
    flex: 1; /* Sikrer at containeren fyller ut hele plassen den får tildelt*/
} 


.container-a-indexpage-footer {
    width: 100%; /* Sikrer at elementet strekker seg over den hele tilgjengelige bredden */
    max-width: 1200px; /*Sikrer at overskriften og "Abonner på nyhetsbrev!"-knappen holder seg innenfor en maksimal bredde */
    min-height: 155px;
    padding: 0 20px; /* Legger til litt padding på høyre og venstre side */
    margin: 0 auto; /* Sentrerer elementet horisontalt innenfor sitt forelder-element */
    display: flex;
    justify-content: center; /* Justerer flex-elementene i midten av flex-containeren horisontalt */
    align-items: center; /* Justerer flex-elementene i midten av flex-containeren vertikalt */
}


/* En seperat boks definert for en helt egen skille-linje, slik at den oppfører seg annerledes fra resten (strekker seg langs hele footeren)*/
.box-linje-indexpage-footer {
    border-top: 1px solid var(--oslometblack);
    width: auto;
}

.box-1a-indexpage-footer {
    font-size: 1.4rem;
    margin-left: 50px;
    margin-right: 140px;
}


/* Den sorte "Abonner på nyhet" knappen: */
.box-2a-indexpage-footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px; /* padding-left og right sikrer et lite mellomrom på sidene */
    padding-top: 3px;
    padding-bottom: 3px; /* padding-top og bottom sikrer et lite mellomnrom over og under */
    white-space: nowrap; /* sikrer at teksten i elementet ikke brytes til en ny linje */
    margin-right: 50px;
}
/* Lenken til "Abonner på vårt nyhetsbrev: */ 
.lenke-til-box-2a-indexpage-footer {
    text-decoration: none; /* fjerner lilla strek under teksten*/
}


.container-b-indexpage-footer {
    width: 100%;
    max-width: 1200px; /*Samme maksimal bredde som satt i container-a*/
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /*sikrer at elementene i container-b plasseres med lik avstand mellom seg, slik at innholdet er jevnt fordelt.*/
    padding-top: 60px;
    padding-bottom: 60px; /*sikrer litt mellomrom både over og under elementene i denne containeren*/
}


/* Her defineres stilen/utseende for alle lenkene i container-b: */
.box-3b-indexpage-footer a,
.box-4b-indexpage-footer a,
.box-5b-indexpage-footer a {
    color : var(--oslometblack); /* Setter fargen på lenkene til sort(oslometblack) */
    text-decoration: none; /* Fjerner standard understreking */
}

/* Her defineres stilen/utseende for lenkene i container-b når mus-pilen holdes over: */
.box-3b-indexpage-footer a:hover,
.box-4b-indexpage-footer a:hover,
.box-5b-indexpage-footer a:hover {
    text-decoration: underline; /* Legger til understreking når mus-pilen føres på teksten*/
    text-decoration-thickness: 2px; /* Setter tykkelsen på understrekingen */
}

.box-4b-indexpage-footer a{
    padding-bottom: 15px;
}

.box-3b-indexpage-footer {
    margin-left: 50px; /* samme margin-left som box-1a (se over), slik at det ser ryddigere ut*/
}

.box-3b-indexpage-footer2 p, .box-3b-indexpage-footer3  p{
    margin: 5px;
 }

 .box-3b-indexpage-footer2 , .box-3b-indexpage-footer3  {
    margin-bottom: 20px;
 }

.box-4b-indexpage-footer {
    line-height: 15px; /* Justerer linjehøyden for å gjøre teksten mer kompakt */
    padding-left: 100px;
    padding-top: 20px;
}
.box-4b-indexpage-footer a {
    display: block; /* Sørger for at lenkene vises på nye linje */
    font-size: 0.81rem;
}


.box-5b-indexpage-footer {
    margin-right: 150px;
    margin-left: 40px;
    margin-top: 20px;
    min-width: 130px; /*Sørger for at teksten ikke bryter ned på neste linje når bredden minskes*/

}


/* Her ordnes logoen for de ulike sosiale medier*/
.logo-facebook-lenke-footer-index,
.logo-twitter-lenke-footer-index,
.logo-linkedin-lenke-footer-index,
.logo-instagram-lenke-footer-index {
    display: inline-block;
    background-size: cover;
    height: 40px;
    width: 40px;
    flex-shrink: 0;
    background-color: var(--oslometyellow);
    margin-right: 3px;
    vertical-align: middle; /* Plasserer teksten penere i forhold til logoene*/
}
.logo-facebook-lenke-footer-index {
    background-image: url(../bilder/facebook.png);
}
.logo-twitter-lenke-footer-index {
    background-image: url(../bilder/twitter.png);
}
.logo-linkedin-lenke-footer-index {
    background-image: url(../bilder/linkedin.png);
}
.logo-instagram-lenke-footer-index {
    background-image: url(../bilder/instagram.svg);
}


/* Her er koden for når bredden til skjermen er mindre enn 839px:*/
@media (max-width: 839px){
    .container-a-indexpage-footer,
    .container-b-indexpage-footer {
        display: flex;
        flex-direction: column; /* Endrer retningen på elementene i hver container, slik at alt legges i en kolonne når bredden er under 839px*/
        align-items: flex-start; /* Legger boksene inntil venstre side */
    }    

    .box-1a-indexpage-footer,
    .box-2a-indexpage-footer,
    .box-3b-indexpage-footer,
    .box-4b-indexpage-footer,
    .box-5b-indexpage-footer {
        margin-left: 20px; /* Justerer margin til venstre for alle boksene */
        margin-bottom: 30px; /* En liten avstand mellom alle boksene i kolonnen */
    }

    .box-2a-indexpage-footer{
        margin-left: 0;
    }

    .box-1a-indexpage-footer h2 {
        font-size: 1.8rem; /* Ønskelig med større størrelse på overskriften*/
        padding-left: 20px;
        margin-bottom: 20px;
        margin-top: 60px;
        word-break: break-word; /*Overskriften skal kunne brytes når bredden minskes*/
    }

    .box-1a-indexpage-footer,
    .box-5b-indexpage-footer {
        margin: 0; /* Fjerner eventuelle marginer som ikke trengs*/
    }

    .box-4b-indexpage-footer {
        padding-left: 0; /* Fjerner den store paddingen til venstre som flytter hele boksen bort fra de andre boksene */
    }

    .box-3b-indexpage-footer a,
    .box-4b-indexpage-footer a,
    .box-5b-indexpage-footer a {
        font-size: 1.1rem; /* Ønskelig med litt større tekst*/
    }

    .box-5b-indexpage-footer{
        padding: 20px; /*Finjustering*/
    }

    }

/* *{box-sizing: border-box;} slettes dobbelt opp?*/

/*----- Footer index slutt -----*/

/**------------------- Index page slutt -------------------**/
