/*-----Root start-----*/

:root {
    --siteblue: rgb(139, 185, 227);
    --sitegrey: rgb(238, 239, 240);
    --oslometyellow: rgb(255,220,0);
    --oslometgrey: rgb(221, 222, 224);
    --oslometblack: #222;
}

/*-----Root slutt-----*/



/*-----Generell start-----*/

* {
    box-sizing: border-box;
}

header {
    background-color: var(--siteblue);
    line-height: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;

}

#index-header{
    background-color: var(--oslometyellow);
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
}



.menu a{
    text-decoration: none;
    color: var(--oslometblack);
}


/*-----Generell slutt-----*/



/*-----Hamburgermeny start. Koden er inspirert av eksempelet som lå på canvas-----*/

#burger-toggle {display: none;}

@media (min-width:701px) {
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
    }
    
    .menu Li {padding-right: 4rem;}

}

@media (max-width: 700px) {
    .menu {
        list-style-type: none;
        position: sticky;
        padding-left: 0px;
        z-index: 2;
    }

    .menu-icon {
        display: block;
        background-image: url(../bilder/menu.svg.png);
        background-size: cover;
        height: 40px;
        width: 40px;
    }

    .menu Li {
        height: 0;
        overflow:hidden;
    }



#burger-toggle:checked ~ .menu Li {
    height: 2rem;
    width: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background-color: var(--siteblue);
}

#burger-toggle:checked ~ #menu-index Li{
background-color: var(--oslometyellow);
}

nav {
    display: flex;
    height: 40px;
}

}

/*-----Hamburgermenu slutt-----*/



/*-----flex-box-Activity start-----*/

.main-activity {
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    min-height: 100vh; 
    padding-top: 10px;
}   

.flex-container-activity {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 1200px; 
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    flex: 1;
}

.flex-sub-container1-hero-activity{
    position: relative;
    flex: 2;
    background: url(../bilder/Bioingeniør\ pipettering.avif) no-repeat center center/cover;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    min-height: 450px;
    
}

.overskrift-activity {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 0;
    font-size: 2.2rem;
}

.flex-sub-container2-activity {
    display: flex;
    flex: 2;
}

.flex-venstre-column-activity {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.flex-box-activity {
    flex: 1;
    margin: 10px;
    align-content: center;
    justify-content: center;
    
}

.flex-box-activity h2{
    margin-left: 0;
}

.flex-høyre-column-activity {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-høyre-column-activity.flex-box-activity {
    flex: none; 
}

.footer-activity {
    background-color: var(--siteblue);  
    padding: 1.5em;
}



@media (max-width: 839px) {
    .flex-container-activity {
        padding: 5%;
    }
}

@media (max-width: 839px) {
    .flex-container-activity{
        padding: 2%;
    }

    .flex-sub-container1-hero-activity{
        min-height: 200px;
    }

    .flex-sub-container2-activity {
        flex-direction: column;
    }

    .flex-venstre-column-activity, .flex-høyre-column-activity {
        width: 100%;
    }
}

@media (min-width: 840px) {
    .flex-container-activity {
        padding: 1%;
    }
}

@media (min-width: 900px) {
    .flex-container-activity{
        flex:0;    
    }
    .flex-sub-container1-hero-activity{
         flex: 0;
    }
    .main-activity{
        justify-content: flex-start;
    }
}


/*-----flex-box-Activity slutt-----*/



/*-----Bilder Activity start-----*/

.asidebilderamme-activity{
    background-color: var(--sitegrey);
    border: 10px solid var(--sitegrey);
    background-size: cover; 
 }

 .column-activity {
    float: left;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-size: cover;
}

.row-activity {
    clear: both;
    display: table;   
}

@media screen and (max-width: 839px) {
    .column-activity  {
      width: 100%;
    }
}

/*-----Bilder Activity slutt-----*/




/*-----flex-box-index start-----*/

.main-index h2 {
    margin-left: 0;
    font-size: 1.75rem;
}

.main-index {
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    min-height: 100vh; 
    padding-top: 10px;
    color: var(--oslometblack);
}   

.flex-container-index {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 1200px; 
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    flex: 1;
}

/* Fant inspirasjon til koden her https://stackoverflow.com/questions/70851848/remove-black-bars-on-both-left-right-sides-of-an-iframe-video */
/* Kodden blir brukt til å fjerne de sorte rammene fra videoen som oppstår ved bruk av iframe til video*/
.flex-sub-container1-hero-index{
    position: relative;
    padding-bottom: 56.25%; /*Denne fjerner den sorte rammen  og var så spesifikk at det er hovedsakelig denne vi fikk inspirasjon til fra stackoverflow*/
    overflow: hidden;
    max-width: 100%;
    height: auto;  
}

/* Fant inspirasjon til koden her https://stackoverflow.com/questions/70851848/remove-black-bars-on-both-left-right-sides-of-an-iframe-video */ 
/* Samme som over, kodden blir brukt til å fjerne de sorte rammene fra videoen som oppstår ved bruk av iframe til video*/ 
.flex-sub-container1-hero-index iframe{
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}

.flex-index-hovedoverskrift{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem; 
    
}

.flex-index-teksts-oppe{
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;  
    font-weight: 400;
    border-top: 1px solid var(--oslometgrey);
    margin-top: 30px;
    
    
}

/*Justerer innholdet i boksen med tekst slik at den holder seg i midten, samt media under som endrer den ved liten skjerm*/
.flex-index-teksts-oppe p {   
margin-top: 5%;
margin-bottom: 5%;
margin-left: 20%;
margin-right: 20%;  
}

@media (max-width: 839px) {
    .flex-index-teksts-oppe p {
        margin-left: 0%;
        margin-right: 0%; 
    }
    .flex-index-teksts-oppe {
        margin-top: 5px;
    }
}


.flex-sub-container2-index {
    display: flex;
    flex: 2;
    flex-direction: column;
}

/*Sørger for at hovedinnholdet på siden ligger i midten hele tiden*/
.flex-venstre-column-index {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-left: 10vw;
    margin-right: 10vw;

    
}

.flex-box-index {
    flex: 1;
    margin: 10px;
    align-content: center;
    justify-content: center;
    
}

.footer-index {
    background-color: var(--oslometyellow);  
    padding: 1.5em;
}


.header-under {
    display: flex; 
    justify-content: center; 
    padding: 10px;
    
}   

.studieoversikt-lenke {
    display: flex;
    max-width: 1200px; 
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;  
}

.studieoversikt-lenke a{
    color: var(--oslometblack);
    text-decoration-thickness: 2px;

}

@media (max-width:1200px) {
    .studieoversikt-lenke {
        padding: 0;
        margin: 0;  
    }
}

/*ER DET DOBBELT OPP HER?*/
@media (max-width: 839px) {
    .flex-container-index {
        padding: 5%;
    }
}

@media (max-width: 839px) {
    .flex-container-index{
        padding: 2%;
    }

    .flex-sub-container2-index {
        flex-direction: column;
    }

    .flex-venstre-column-index {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}


@media (min-width: 840px) {
    .flex-container-index {
        padding: 1%;
    }
}

@media (min-width: 900px) {
    .flex-container-index{
        flex:0;    
    }

    
    .flex-sub-container1-hero-index{
         flex: 0;
    }
    .main-index{
        justify-content: flex-start;
    }
}


@media (min-width: 2400px){
    .flex-venstre-column-index {
        margin-left: 5vw;
        margin-right: 5vw;
    }   
}

@media (min-width: 6000px){
    .flex-venstre-column-index {
        margin-left: 1vw;
        margin-right: 1vw;
    }

}    

.studenthistorier{
    font-size: 1.8em; 
}

.flex-studenthistorier{
    display: flex;
    background-size:cover;
    background-color: var(--oslometyellow);
    align-items: center;
    justify-content: center; 
    margin: 30px;
    margin-right: 30%;
    margin-left: 30%;
    padding: 20px;
    font-size: 1.5rem; 
}

.lenke-boks-studenthistorier{
    text-decoration: none;
    color: var(--oslometblack);
}

@media (max-width: 839px) {
    .flex-studenthistorier{
        margin-right: 0%;
        margin-left: 0%;
    }

}

/*-----flex-box-index slutt-----*/



/*-----Bilder index start-----*/

.flex-container-index-bilde-nede {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--oslometyellow);
    align-items: center;
    
    
}
.flex-index-bilde-nede-innhold{
    background-size:cover;
    background-color: var(--oslometyellow);
    flex: 1;
    position: relative; 
    color: var(--oslometblack);   
}

.flex-index-bilde-nede-innhold img{
    display: block; 
}

.flex-index-bilde-nede-innhold p,h3 {
    margin: 20px;
}

.fibni1 {
    order: 1;
}

.fibni2{
    order: 2;
}

.lenke-boks-fibnil{
    text-decoration: none;
}

@media (max-width: 839px) {
    .flex-container-index-bilde-nede {
        flex-direction: column;
    }
    .fibni1 {
        order: 2;
    }
    .fibni2{
        order: 1;
    }
}
/*-----Bilder index slutt-----*/



/*-----Tabell med diverse informasjon om studiet start-----*/

.container-indexpage-tabelløverst{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
}


.box-indexpage-tabelløverst{
    background-color: rgb(255,255,255);
    color: var(--oslometblack);
    padding-bottom: 70px;
    padding-top: 30px;
    margin: 10px;
    text-align: left;
    height: 80px;
    width: calc(25% - 15px); /* Fire bokser på en rad justert fra 20px til 15px!!!!*/
    box-sizing: border-box;
    border-top: 1px solid var(--oslometblack);
    word-break: keep-all;
}




.box-indexpage-tabelløverst h2 {
    margin-bottom: 5px;
    font-size: 18px;
}


.box-indexpage-tabelløverst p {
    margin-top: 0;
    font-size: 16px;
}




#box1-indexpage-tabelløverst {order: 1; }
#box2-indexpage-tabelløverst {order: 2; }
#box3-indexpage-tabelløverst {order: 3; }
#box4-indexpage-tabelløverst {order: 4; }
#box5-indexpage-tabelløverst {order: 5; }
#box6-indexpage-tabelløverst {order: 6; }
#box7-indexpage-tabelløverst {order: 7; }

#box1-indexpage-tabelløverst, #box5-indexpage-tabelløverst{
    margin-left:0;
    padding-left: 0;
}

#box4-indexpage-tabelløverst{
    margin-right:0;
    padding-right: 0;
}

#box6-indexpage-tabelløverst {
    height: 107px;
}


@media (max-width: 839px){
    .box-indexpage-tabelløverst {
        flex: 1 1 100%; /* En boks per rad */
        margin-left: 0;
        margin-right: 0;
    }
}


/*-----Tabell med diverse informasjon slutt om studiet slutt-----*/



/*-----Hovedtabell index start-----*/

.tabellramme-index {
    display: flex;
    align-items:flex-start;
    padding: 20px;
    border-top: 1px solid var(--oslometgrey);
    flex-direction: column;
}

/*Lager en grå strek på nederste tabell*/
.tabellramme-index-videre-studiemuligheter{
    border-bottom: 1px solid var(--oslometgrey);
}

/*Gjør at de små tabellene i hva lærer du? får unike egenskaper i forhold til De store tabellene*/
.tabellramme-index.tabellramme-index-liten-Hva-Lærer-Du, .tabellramme-index.tabellramme-index-liten-Studiets-oppbygging{
    border-top: none;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;

}

.knapp-og-hovedtabell-overskrift-boks{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

}

.knapp-box {
    padding: 20px;
    background-color: var(--oslometyellow);
    cursor: pointer;
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin-right: 10px;
    background-image: url(../bilder/Plus_symbol.svg.png.svg) 
}

/*Gjør at de små tabellene i hva lærer du? får unike egenskaper i forhold til De store tabellene*/
.knapp-box.knapp-box-Hva-Lærer-Du, .knapp-box.knapp-box-Studiets-oppbygging{
    padding: 10px;
}

/*Gjør at knapp-boksene blir mindre og tar mindre plass ved små skjermer/mobiler*/
@media (max-width: 700px){
    .knapp-box{
        padding: 10px;
    }
    .tabellramme-index{
        padding: 10px;
    }
}

.hovedtabell-overskrift-box-index{
    padding-left: 20px;
    flex: 1;
}

/*Får boksene til å ligge midt på boksene over og mer plass til tabellene i bredden*/
.gjemt-innhold:checked ~ .hovedinnhold-i-gjeminnhold.hig-Studiets-oppbygging2{
    padding-left: 10px;
}

/*Bytter bakgrunnsbilde fra pluss til minus når man klikker/åpner boksen*/
.gjemt-innhold:checked ~ .knapp-og-hovedtabell-overskrift-boks .knapp-box {
    background-image: url(../bilder/Minus_symbol.svg.png.svg);

}

.hovedinnhold-i-gjeminnhold {
    display: none;

}

.hovedinnhold-i-gjeminnhold a{
    text-decoration-color: var(--oslometyellow);
    text-decoration-thickness: 2px;
    color: var(--oslometblack); 
}

.hovedinnhold-i-gjeminnhold Li{
    padding: 10px;
}

.gjemt-innhold:checked ~ .hovedinnhold-i-gjeminnhold {
    display: block;
    padding-left: 70px;
    padding-right: 5px;
    color: var(--oslometblack);
    margin-top: 10px;   
}

/*Gjør at de små tabellene i Hva lærer du tar opp mer plass i bredden ved små skjermer på lik linjene med hovedtabellene*/
@media (max-width: 700px){
    .gjemt-innhold:checked ~ .hovedinnhold-i-gjeminnhold {
        padding-left: 50px;
    }
    .gjemt-innhold:checked ~ .hovedinnhold-i-gjeminnhold-Hva-Lærer-Du-hovedramme-2{
        padding-left:0;
    }
    .gjemt-innhold:checked ~ .hovedinnhold-i-gjeminnhold.hig-Studiets-oppbygging2{
        padding-left:0;
    }

}

/*Gjør at de små tabellene i hva lærer du? får unike egenskaper i forhold til De store tabellene*/
.gjemt-innhold:checked ~ .hovedinnhold-i-gjeminnhold-Hva-Lærer-Du {
    padding-left: 50px;
    margin-top: 0;   
}

/*Gjør at tabellene får mer plass i bredden*/
.gjemt-innhold:checked ~ .Studiets-oppbygging-gjeminnhold {
    padding-left: 0; 
}

.gjemt-innhold {
    display: none;
}

/*-----Hovedtabell index slutt-----*/



/*-----Studiested, Spørsmål og utdanningen?, faglig leder, tabell med info om programmer start, og tabell for videre studiemuligheter start-----*/

.studiested-overskrift a, .spørsmål-om-utdanningen-overskrift a{
    text-decoration-color: var(--oslometyellow);
    text-decoration-thickness: 2px;
    color: var(--oslometblack);
}

.studiested-overskrift{
    margin-bottom: 30px;
}

.faglig-leder-container {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--oslometgrey);
    border-bottom: 1px solid var(--oslometgrey);
    justify-content:flex-start;
    margin-bottom: 30px;
}

.faglig-leder-bilde {
    flex: 0 0 80px; /*inkludert flekst grow, shrink og basis i en linje*/
    margin: 15px;
    margin-left: 0;
    display: flex;
}

.faglig-leder {
    flex: 1;
}


.lenke-programmer, .lenke-faglig-leder{
    text-decoration: none;
    color: var(--oslometblack);
}

/*Sørger for at innholdet neders av hovedinnholdet blir liggende på et smalerer området enn det øvre innholdet. % ga en bedre flytt enn vw her*/
.ulike-programmer, .flere-interesser,.faglig-leder-container,.faglig-leder-overskrift,.studiested-overskrift,.spørsmål-om-utdanningen-overskrift {
    margin-left: 15%;
    margin-right: 15%;
}

.videre-muligheter-siste-mlinje{
    margin-left: 0;
    margin-right: 0;  
    
}

.hovedinnhold-i-gjeminnhold-videre-studiemuligheter{
    width: 100%;
}

/*Skaper en tynn grå linje øverst på alle boksene for de ulike programmene*/
.ulike-programmer {
    border-top: 1px solid var(--oslometgrey);
}

/*Skaper en tynn grå linje på den nederste boksen for de ulike programmene og for boksene inni videre studiemuligheter. 
Dette gir en illusjon av at alle boksene har en linje øverst og nederst*/
.ulike-programmer-siste-mlinje, .videre-muligheter-siste-mlinje {
    border-bottom: 1px solid var(--oslometgrey);
}


/*Sørger for at det ikke rammen tar opp unødvendig med plass ved små skjermer/mobil*/
@media (max-width: 839px) {
    .ulike-programmer, .flere-interesser,.faglig-leder-container,.faglig-leder-overskrift,.studiested-overskrift,.spørsmål-om-utdanningen-overskrift{
        margin-right: 3%;
        margin-left: 3%;
    }
    .ulike-programmer.videre-muligheter-siste-mlinje{
        margin-left: 0;
        margin-right: 0;
    }
    .ulike-programmer.videre-muligheter-siste-mlinje p{
       font-size: 0.9rem;
    }

}

.ulike-programmer p, .faglig-leder p{
    font-size: 1.1rem;
    cursor: pointer;
    margin-bottom: 5px;
}


.info-programmer, .info-faglig-leder {
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
}

.info-box, .info-fl-box {
    flex: 1;
    flex-shrink: 1;
    flex-grow: 0;
    text-align:center;
    flex-direction: row;
    border-right: solid 1px rgb(7,7,7);
    font-size: small;
    white-space: nowrap;
    padding-right: 10px; 
    padding-left: 10px;
    
    
}

.info-box:first-child, .info-fl-box:first-child{
    padding-left: 0px;
}

.info-box:nth-child(4) , .info-fl-box:last-child{
    border-right:none;
}

/*-----Studiested, Spørsmål og utdanningen?, faglig leder og tabell med info om programmer slutt-----*/
